# Entorno virtual
venv/
__pycache__/
*.pyc

# Archivos de configuración de IDEs y editores
.vscode/
.idea/

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos de entorno (si los tuvieras para guardar contraseñas, etc.)
.env